* {
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Arial, sans-serif;
}

header {
    background: #8EAD9E;
}

header h1 {
    text-align: center;
    font-size: 45px;
    color: #245b43;
    margin: 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header a {
    text-decoration: none;
    color: rgb(34, 74, 57);
    font-size: 18px;

}

header a:hover {
    color: #b5e8c7;
}

.logo {
    width: 100px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.boton-registro {
    background-color: #387a60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botones-nav {
    display: flex;
    gap: 10px;
}

.boton-reservar-hora {
    background-color: #c7d471;
    color: rgb(255, 253, 253);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 350px;
    margin-top: 30px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 100px;
}


.presentacion {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 60px 40px;
    max-width: 1200px;
    justify-content: center;
}

.texto-presentacion p {
    font-size: 23px;
    line-height: 1.6;
    color: #333;

}

.boton-iniciar-sesion {
    background-color: #387a60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

.campo-error {
    border: 2px solid #a3242f;
    background: #fbe9ea;
}

#formulario-registro {
    width: 400px;
    margin: 40px auto;
    text-align: center;
}

h2 {
    text-align: center;
}

#formulario-registro input {
    text-align: center;
}

#formulario-iniciar-sesion {
    width: 400px;
    margin: 40px auto;
    text-align: center;
}

#formulario-iniciar-sesion input {
    text-align: center;
}